@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Mulish:ital,wght@1,500&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
*{
    margin: 0;
    pad: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --font-primary: "Josefin Sans", serif;
    --font-secundary:  "Dosis", serif;
    --font-action: "Mulish", serif;
}

.hamburger{
    /*background: red; */
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 1s;

}
.show-menu .hamburger{
    right: 16rem;
}

.line{
    width: 100%;
    height: .1rem;
    background-color: #ffffff;
    box-shadow: 0.1rem 0.1rem 1px #000;
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line1{
    transform: rotate(45deg) translate(.28rem, .45rem);
}
.show-menu #line3{
    transform: rotate(-45deg) translate(.1rem, -.45rem);
}

.hamburger span{
    position: absolute;
    left: 3rem;
    background-color: rgba(0, 0, 75, .2);
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: var(--font-action);
    opacity: 0;

}

.hamburger span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid rgba(0, 0, 75, .2) ;
    border-top: .5rem solid transparent ;
    border-bottom: .5rem solid transparent ;
    border-left: .5rem solid transparent ;
    left: -1rem;
    }
.show-menu .hamburger:hover span{
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.75);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 20s;
}

@keyframes zoom{
    0%{
        transform:scale(1.5)
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 20%;
    left: 15%;
}
.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: "Josefin Sans", serif;
    font-weight: 100;
    text-shadow: .2rem .3rem 2px rgba(0,0,0,.4);
    line-height: 3.5rem;
    animation: moveBanner 3s forwards;
}
.banner p{
    font-family: var(--font-secundary);
    color: #ffffff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0,0,0,.4);
    margin-bottom: 2rem;
    animation: moveBanner 4s forwards;

}

.banner button{
    font-family: var(--font-action);
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    padding: 1.2rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.8;
    animation: moveBanner 4.2s forwards;
}

.banner button:hover{
    opacity: 0.5;
}
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0rem) rotateY(0deg);
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}
.show-menu .sidebar{
    right: 0;
}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: .5rem;
}
.menu-item{
    text-align: center;
}
.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}

.menu-link:hover{
    color: rgb(129, 109, 247);
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.social-media i{
    background-color: rgba(0, 0, 75, .2);
    color: rgba(255, 255, 255, 0.5);
    height:2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}
.social-media i:hover{
    background-color: rgba(0, 0, 100, .1);
}
.knowledges{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap:.5rem ;
}

.knowledge:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1 / 3;

}

.knowledge:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3 / 5;

}

.knowledge:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5 / -1;

}

.knowledge:nth-child(4){
    grid-column: 11 /14;
    grid-row: 1 / 3;

}

.knowledge:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 3 / 5;

}

.knowledge:nth-child(6){
    grid-column: 11 / 14;
    grid-row: 5 / -1;

}

.knowledges-section{
    background-color: #dcdee4;
    height: 100%;
}

.section-header{
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-header h1{
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #536976;
    margin-bottom: 1.5rem;
}

.knowledge-header{
    display: flex;
    align-items: center;
    color: #4b4b4b;
}

.knowledge-header i{
    font-size: 2.5rem;
}

.knowledge-header h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
}

.knowledge-text {
    font-family:var(--font-secundary) ;
    margin-top: 1rem;
}

.knowledge-img-warapper{
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
}

.knowledge-img-warapper img{
    object-fit: cover;
    width: 100%;

}
.projects-section{
    width: 100%;
    height: 100vh;
}

.projects{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 20rem;
    height: 30rem;
    position: relative;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    }

.card-info{
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding-left: 2rem;
    text-shadow: 0.3 0.2rem 0.3rem rgba(0, 0, 0, .6);
    transition: all .3s ;
}
.card-info h2{
    font-family: var(--font-secundary);
    font-size: 2rem;
    font-weight: bolder;
    color: rgba(63, 62, 85, 0.836);
}

.card-info h3{
    font-family: var(--font-action);
    font-weight: bolder;
    color: #ff4081;
}

.card-info p{
    font-family: var(--font-secundary);
    color: rgb(56, 54, 71);
    font-weight: bold;
    width: 80%;
    margin-bottom: 2rem;

}

.btn{
    background: #536976;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    font: var(--font-secundary);
    font-size: 1rem;
    color: #eee;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, 4);
    opacity: .8;
}

.card-info button{
width: 8rem;
height: 2.5rem;
background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #292E49, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #292E49, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
font: var(--font-secundary);
font-size: 1rem;
color: #eee;
border-radius: .5rem;
border: none;
box-shadow: 0 .1rem .8rem rgba(0, 0, 0, 4);
opacity: .8;
}
.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;

}
.card:hover .card-img-wrapper{
    opacity: .7;
}

.contact-section{
    width: 100%;
    height: 100Vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-wrapper{
    width: 60%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, .5);
    padd
}

.contact-left{
    width: 35%;
    background:
     linear-gradient(rgba(15,15,15,0.6),rgba(22,22,22,0.9)),
     url(Images/contact.jpg);
    background-size: cover;
}

.contact-right{
    width: 65%;
    background-color: #eee;
    padding-left: 1rem 3rem 3rem 3rem;
}

.contact-section h1{
    font-family: var(--font-primary);
    text-align: center;
    font-size: 2rem;
    color: #272727;
    font-weight: lighter;

}

.contact-section form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    position: relative;
}

.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #636363;
    height: 3rem;
    outline: none;
    margin: 1rem 0;
}

.input-group textarea{
    padding-top: 1rem;
    max-width: 25rem;
    max-height: 3rem;
}

.field-label{
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1.2rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: all .3s;

}

.field:focus ~ label{
    top: 0;
    font-size: 1rem;
}

.field:focus{
    border-bottom: 1px solid;
}

.btn-submit{
    font-size: 1.2rem;
    text-transform: uppercase;
    align-items: center;
    width: 80%;
    height: 3rem;
    cursor: pointer;
    margin-top: 2rem;
}

.btn-submit:hover{
    opacity: .7;
}